<br/>
<br/>
<section class='container'>
    <h3 class='page-header'>{{title}} 
        <button class='btn btn-default' ui-sref='category-new'>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </h3>
    <p class='well well-sm'>
        This page lets you see/create/delete the shopping categories in the website.
    </p>
    
    <section class='row' ng-repeat='categoryRow in categoryBundle'>
        <section class='col-md-3 ind-category' ng-repeat='category in categoryRow'>
            <p class='text-center'>
                {{category.name}}
            </p>
            <p class='text-center category-controls'>
                <button class='btn btn-default btn-sm'>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button class='btn btn-default btn-sm' ng-click='editCategory(category)'>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </p>
        </section>
    </section>

    <section class='' ng-if='nodata'>
        <p class='text-center'>
            No categoried defined yet. 
            <button class='btn btn-default btn-sm' ui-sref='category-new'>Create one right away.</button>
        </p>
    </section>
</section>

<div class="modal fade" id="category-edit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Category {{edit.name}}</h4>
            </div>
            <div class="modal-body">
                <section class='form-group'>
                    <label>Type new category name</label>
                    <input ng-blur='lookupCategoryValidity()' ng-keyup='lookupCategoryValidity()' class='form-control' type='text' ng-value='edit.name' ng-model='edit.editedName' placeholder="Edit category name"/>
                    <label ng-show = '!unique || !edit.editedName' class='label label-danger'>Cannot use this name</label>
                    <label ng-show = 'unique && edit.editedName'class='label label-success'>Unique category identified</label>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-disabled='!unique' type="button" class="btn btn-primary" ng-click='editCategoryRequest()'>Save changes</button>
            </div>
        </div>
    </div>
</div>
