<h3>{{title}}</h3>
<div class="panel panel-default">
	<div class='panel-heading'>
		 <form class="form-inline">
            <div class="form-group">
               <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Filter: <i>{{selectedCategory}}</i>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-click='fetchProducts()'>
                            <a href="#" >All</a>
                        </li>
                        <li ng-repeat='category in productCategories' ng-click='fetchCategory(category)'>
                            <a href="#">{{category}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
				<a class='btn btn-success btn-sm' ng-click='newProductModal()'> + Add new product</a>
            </div>
        </form>
	</div>
	<div class="panel-body table-responsive">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<td></td>
				<td>Product</td>
				<td>Category</td>
				<td>price</td>
				<td></td>
			</thead>
			<tbody>
				<tr ng-repeat='product in products'>
					<td>
						<a type='file' name='file' ngf-pattern='image/*' accept='image/*' ngf-select='setImage($file, $invalidFiles, product._id)'>
							<p class='text-center' ng-if='product.image'><img class='{{product._id}}' ng-src='/product/image/{{product.image.value}}/{{product.image.mime}}'  height=30 /><p>
							<p ng-hide='product.image'><img class='{{product._id}}' src='images/product.png'  width=40 /><p>
						</a>
					</td>
					<td>{{product.name}}</td>
					<td>{{product.category}}</td>
					<td>{{product.price | currency:"&#8377;"}}</td>
					<td>
						<button ng-click='deleteConfirmation (product)' class='btn btn-default btn-sm' ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						<button ng-click='editProductDialogue (product)' ng-disabled='user.type == "admin"' class='btn btn-default btn-sm'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class='panel-footer'>
	</div>

	<div class="modal fade" id="new-product-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add new product</h4>
				</div>
				<div class="modal-body">	
					<input class='form-control' ng-model='pName' type='text' placeholder='Product name'/> <br/>
					<input class='form-control' ng-model='pPrice' type='number' placeholder="price" />
					<br/>
					<div class="dropdown">
						<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Category: {{selectedCategory}}
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-repeat='category in productCategories'>
								<a href="#" ng-click='setCategory(category)'>{{category}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click='createProduct()'>Create product</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit-product-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit product</h4>
				</div>
				<div class="modal-body">
					<input class='form-control' ng-model='edit.name' type='text' placeholder='new username'/> <br/>
					<input class='form-control' type='number' ng-model='edit.price' placeholder="new password" /> <br/>
					<br/>
					<div class="dropdown">
						<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Category: {{edit.category}}
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-repeat='category in productCategories'>
								<a href="#" ng-click='edit.category = category'>{{category}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click='editProductRequest()'>Update</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="delete-product-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Delete product</h4>
				</div>
				<div class="modal-body">
					Are you sure to delete {{edit.name}} from products?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Nope</button>
					<button type="button" class="btn btn-primary" ng-click='deleteProductRequest()'>Yep</button>
				</div>
			</div>
		</div>
	</div>
	
	
</div>