<!DOCTYPE html>
<html lang="en" ng-app='admin'>
	<head>
		<title>Admin</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

		<!-- jQuery JS 3.1.0 -->
		<script src='/jquery/dist/jquery.min.js' ></script>
		<!-- Bootstrap JS 3.3.7 -->
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Bootstrap CSS 3.3.7 -->
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" >
		<!-- AngularJS JS <1></1>.5.7 -->
		<script src='/angular/angular.min.js'></script>
		<script src='/angular-ui-router/release/angular-ui-router.min.js'></script>
		
		<script src='/angular-resource/angular-resource.min.js'></script>

		<!-- ngMask dependency from bower -->
		<script src='/ngMask/dist/ngMask.min.js' ></script>

		<!-- bower ng-file include dependency -->
		<script src='/ng-file-upload/ng-file-upload-shim.min.js'></script>
		<script src='/ng-file-upload/ng-file-upload.min.js'></script>


		<script src='/javascripts/dist/upgraded-chainsaw.min.js' ></script>
		<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'/>

		<!-- for animations -->
		<script src='/javascripts/transitions/animations.js'></script>
	</head>
	<body>
		<header>
			<section class='menu-drawer'>
				<button onclick="toggleDrawer ()" class='action-btn'><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&nbsp; Control</button>
				<img src='/images/logo.png' height=30 />
			</section>
		</header>

		<br/>
		<section class='application-drawer' id='appdrawer'>
			<section class='drawer-content-container'>
				
				<section class='admin-info'>
					<img src='/images/profile.png' width=50 height=50 class='img-circle'/>
					<section class='admin-name'>
						<p class='name'>
							{{sessionInfo.username}}<br/>
							<a class='email'>{{sessionInfo.email}}</a><br/>
							<a class='user-type'>ADMIN</a>
						</p>
					</section>
				</section>

				<section class='menu-container'>
					<ul class="drawer-menu">
						<li class="drawer-menu-item" ui-sref='admin' onclick="toggleDrawer ()">
							<span class="glyphicon glyphicon-dashboard drawer-icon" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;DASHBOARD
						</li>
						<li class="drawer-menu-item" ui-sref='orders' onclick='toggleDrawer()'>
							<span class="glyphicon glyphicon-file drawer-icon" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;ORDERS SUMMARY
						</li>
						<li class="drawer-menu-item" ui-sref='products' onclick='toggleDrawer()'>
							<span class="glyphicon glyphicon-briefcase drawer-icon" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;PRODUCTS
						</li>
						<li class="drawer-menu-item" ui-sref='users' onclick='toggleDrawer()'>
							<span class="glyphicon glyphicon-user drawer-icon" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;USERS
						</li>
						<li class="drawer-menu-item" ui-sref='categories' onclick='toggleDrawer()'>
							<span class="glyphicon glyphicon-list-alt drawer-icon" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;CATEGORIES
						</li>
						<li class="drawer-menu-item" ng-click='logout()'>
							<span class="glyphicon glyphicon-lock drawer-icon" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;LOGOUT
						</li>
					</ul>
				</section>
			</section>
		</section>

		<section id= 'body-content' ui-view></section>

		<footer></footer>

	</body>
</html>