<!DOCTYPE html>
<html lang="en" ng-app='app'>
	<head>
		<title>Shop</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- jQuery JS 3.1.0 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<!-- Bootstrap JS 3.3.7 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Bootstrap CSS 3.3.7 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<!-- AngularJS JS <1></1>.5.7 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.1/angular-resource.min.js'></script>

		<!-- ngMask dependency from bower -->
		<script src='/ngMask/dist/ngMask.min.js' ></script>

		<script src='javascripts/angular/main.js' ></script>
	</head>
	<body>

		
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">shop</a>
			</div>
		</nav>
		
		<section ui-view></section>
	</body>
</html>