<!DOCTYPE html>
<html lang="en" ng-app='user'>
	<head>
		<title>Welcome User</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- jQuery JS 3.1.0 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<!-- Bootstrap JS 3.3.7 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Bootstrap CSS 3.3.7 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<!-- AngularJS JS <1></1>.5.7 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js'></script>

		<!-- for image upload -->
		<!--<script src='https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js'></script>
		<script src='https://angular-file-upload.appspot.com/js/ng-file-upload.js'></script>-->

		<script src='javascripts/angular/user.js' ></script>
	</head>
	<body>
		
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">shop</a>
				</div>

				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{sessionInfo.username}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href ng-click="logout()">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<section ui-view></section>

		<footer></footer>

	</body>
</html>