<section class='container custom-container'>
    <section class='col-md-3'></section>
    <section class='col-md-6'>

		<form name='newUserForm' ng-submit="createUser ()">
			<legend>Sign up form</legend>
			All fields are required
			<section class='form-group'>
				<label>Username</label>
				<input class='form-control' ng-blur="usernameLookup()" name='nUsername' ng-model='nUsername' type='text' placeholder='new username' required/> 
				<label ng-show='editUSuccess' class='label label-success'><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Username available</label>
				<label ng-show='editUFailure' class='label label-danger'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp; Username not available</label>	
				<div ng-show='editCheckUsername' class='loader'></div>
			</section>

			<section class='form-group'>
				<label>Phone number</label>
				<input class='form-control' ng-model='nPhone' name = 'nPhone' mask="(999) 999-9999" clean='true' type='text' placeholder='Edit phone' required/> 
			</section>

			<section class='form-group'>
				<label>Password</label>
				<input class='form-control' ng-model='nPassword' name = 'nPassword' type='password' placeholder='New password' required/> 
			</section>
			<section class='form-group'>
				<label>Confirm password</label>
				<input class='form-control' ng-model='cPassword' name = 'cPassword' type='password' placeholder='Confirm password' required/>
					<label ng-show='cPassword == nPassword && cPassword' class='label label-success'><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Password Match</label>
				<label ng-show='cPassword != nPassword' class='label label-danger'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp; Passwords did not match</label>
			</section>
			<section class='form-group'>
				<label>Email id</label>
				<input class='form-control' name='nEmail' ng-model='nEmail' type='email' placeholder='Edit email' required/> 
				<label ng-show='newUserForm.nEmail.$invalid' class='label label-danger'>Email invalid</label>
			</section>
			<div class="dropdown" ng-init='nType="user"'>
				<label>User type</label>
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">{{nType}}
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-click='nType = "admin"'><a href="#">Admin</a></li>
					<li ng-click='nType = "user"'><a href="#">User</a></li>
				</ul>
			</div>
			<button ng-disabled ='newUserForm.$invalid' type="submit" class="btn btn-primary">Create</button>
			<br/>
			<label class='label label-success' ng-show='success' ng-bind='success'></label>
			<label class='label label-danger' ng-show='error' ng-bind='error'></label>
		</form>
    </section> 
    <section class='col-md-6'></section>
</section>
