<br/>
<br/>
<section class='container'>
    <h3 class='page-header'>{{pageTitle}}</h3>

    <section class='table-reponsive'>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='order in orders'>
                    <td>
                        <p class='text-center' ng-if='order._product.image'><img class='{{order._product._id}}' ng-src='/product/image/{{order._product.image.value}}/{{order._product.image.mime}}'  height=40 /><p>
                        <p class='text-center' ng-hide='order._product.image'><img class='{{order._product._id}}' src='images/product.png'  width=40 /><p>
                    </td>
                    <td>{{order._product.name}}</td>
                    <td>{{order._product.price | currency:"&#8377;"}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <p class='text-center'>
        
        <ul class="pagination pagination-sm">
            <li ng-class='{disabled: pages.currentPage == 1}' ng-click='fetchPage (1)'>
                <a href="#">&laquo;First</a>
            </li>
            <li ng-repeat='page in pages.pages' ng-class='{active: pages.currentPage == page}' ng-click='fetchPage (page)'>
                <a href="#">{{page}}</a>
            <li ng-click='fetchPage (pages.totalPages)' ng-class='{disabled: pages.currentPage == pages.totalPages}'>
                <a href="#">&raquo;Last</a>
            </li>
        </ul>
        
    </p>
</section>