<br/>
<br/>
<section class='container'>
    <section class='row'>
        <section class='col-md-3 filter-section'>
            <h3>Organize orders</h3>
            <br/>
            <br/>
            <div class="dropdown">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Sort by: <i>{{sortFactor}}</i>
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li class='dropdown-header'>Price</li>
					<li class="divider"></li>
					<li ng-click='sortData (1)'><a href=''>low to high</a></li>
					<li ng-click='sortData (2)'><a href=''>High to low</a></li>
					<li class="divider"></li>
					<li class='dropdown-header'>Date</li>
					<li class="divider"></li>
					<li ng-click='sortData (3)'><a href=''>Old first</a></li>
					<li ng-click='sortData (4)'><a href=''>New first</a></li>
				</ul>
			</div>

            <hr id='dark'/>
			Between date range<br/><br/>
			From
			<input class='form-control' type='date' ng-model='date_from'/>
			To
			<input class='form-control' type='date' ng-model='date_to'/>
			<p class='text-center'><button class='btn btn-default btn-sm' ng-click='filterDate()'>Filter</button></p>
        </section>

        <section class='col-md-9'>
            <h3 class='page-header'>{{pageTitle}}</h3>
            <section class='form-group'>
                <input type='text' class='form-control' ng-model='search_modal' placeholder="Type keywords to search"/>
            </section>
            <section class='table-responsive'>
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <td></td>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Date of order</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='order in orders | filter: search_modal'>
                            <td>
                                <p class='text-center' ng-if='order._product.image'><img class='{{order._product._id}}' ng-src='/product/image/{{order._product.image.value}}/{{order._product.image.mime}}'  height=40 /><p>
                                <p class='text-center' ng-hide='order._product.image'><img class='{{order._product._id}}' src='/images/product.png'  width=40 /><p>
                            </td>
                            <td>{{order._product.name}}</td>
                            <td>{{order._product.price | currency:"&#8377;"}}</td>
                            <td>{{parseDate (order.time) | date: 'd-MMM-yy'}} at <B> {{parseDate (order.time) | date: 'shortTime'}}</B></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class='text-center'>
                <p class='text-center'>
                    <ul class="pagination pagination-sm">
                        <li ng-class='{disabled: pages.currentPage == 1}' ng-click='fetchPage (1)'>
                            <a href="#">&laquo;First</a>
                        </li>
                        <li ng-repeat='page in pages.pages' ng-class='{active: pages.currentPage == page}' ng-click='fetchPage (page)'>
                            <a href="#">{{page}}</a>
                        <li ng-click='fetchPage (pages.totalPages)' ng-class='{disabled: pages.currentPage == pages.totalPages}'>
                            <a href="#">&raquo;Last</a>
                        </li>
                    </ul>
                    
                </p>
            </section> 

        </section>
    </section> 
</section>